@page
@model Razor_Rentals.Pages.Register.RegisterModel

@{
    ViewData["Title"] = "Register";
}
<div class="Centered-Vertical Fluffy-Form">
    <h1>Sign up</h1>
    <hr />
    <div>
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="Validation-Red"></div>
                <div class="">
                    <label asp-for="Customer.Name" ></label>
                    <input asp-for="Customer.Name" />
                    <span asp-validation-for="Customer.Name" class="Validation-Red"></span>
                </div>
                <div class="">
                    <label asp-for="Customer.Email" ></label>
                    <input asp-for="Customer.Email"  />
                    <span asp-validation-for="Customer.Email" class="Validation-Red"></span>
                </div>
                <div class="">
                    <label asp-for="Customer.Phone" ></label>
                    <input asp-for="Customer.Phone"  />
                    <span asp-validation-for="Customer.Phone" class="Validation-Red"></span>
                </div>
                <div class="">
                    <label asp-for="Customer.Password" ></label>
                    <input asp-for="Customer.Password" />
                    <span asp-validation-for="Customer.Password" class="Validation-Red"></span>
                </div>
                <div style="margin-top:10px;">
                    <input type="submit" value="Create" class="Primary-Button" />
                </div>
            </form>
        </div>
    </div>

    <div style="margin-top:10px;">
        <a asp-page="/Cars/Index" class="General-Button">Go to Cars</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
