@page
@model Razor_Rentals.Pages.Logout.LogoutModel
@{
}


<div class="Centered-Vertical">
    <h1>You have been logged out.</h1>

    <a href="/Cars/Index" class="Primary-Button" >Continue</a>
</div>


