@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    <p><a href="/Cars/Index" class="Primary-Button" style="display: inline-block; width: 75%;">Find your car to rent!</a></p>
    <a href="/Cars/Index">
        <img src="https://i.ibb.co/423QmnY/logo.png" alt="Logo Image" width="300" height="auto" />
    </a>
</div>
