@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="Centered-Vertical">
    
    <a href="/Cars/Index">
        <img src="https://i.ibb.co/423QmnY/logo.png" alt="Logo Image" width="300" height="auto" style="margin-top: 75px;"/>
    </a>

</div>
