@using Microsoft.AspNetCore.Http
@using Razor_Rentals.Helper
@inject IHttpContextAccessor HttpContextAccessor
@inject IRoleChecker RoleChecker

@{
    string userEmail = HttpContextAccessor.HttpContext.Session.GetString("LoggedInEmail");
    bool isAdmin = RoleChecker.IsAdmin(userEmail);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/423QmnY/logo.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Friberg Rentals</title>
    
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Razor_Rentals.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="Top-Right">
            <a href="#" id="loggedInUser" class="General-Button" style="margin-top: 32px;">@userEmail</a>
            <a href="/Logout/Logout" id="logoutLink" style="display: none; margin-top: 50px; margin-right: 65px;" class="Primary-Button Top-Right">Logout</a>
        </div>
        <nav style="margin-bottom: 60px;">
            <div>
                <div class="Top-Left">
                <a asp-page="/Index">
                    <img src="https://i.ibb.co/423QmnY/logo.png" alt="Friberg Rentals" style="width: auto; height: 64px; margin-top: 25px;">
                </a>
                </div>

                <div class="Centered-Horizontal">
                    <ul class="List-Item-1" style="margin-top: 50px;">
                        <li class="List-Item-1">
                            <a class="Dark-Bold-Text" asp-page="/Index">Home</a>
                        </li>
                        @if (isAdmin == true)
                        {
                            <li class="List-Item-1">
                                <a class="Dark-Bold-Text" asp-page="/Admins/Index">Admins</a>
                            </li>
                            <li class="List-Item-1">
                                <a class="Dark-Bold-Text" asp-page="/Customers/Index">Customers</a>
                            </li>
                        }

                        <li class="List-Item-1">
                            <a class="Dark-Bold-Text" asp-page="/Bookings/Index">Bookings</a>
                        </li>
                        <li class="List-Item-1">
                            <a class="Dark-Bold-Text" asp-page="/Cars/Index">Cars</a>
                        </li>

                        @if (string.IsNullOrEmpty(userEmail))
                        {
                            <li class="List-Item-1 Top-Right">
                                <a class="Primary-Button" style="margin-top: 32px;" asp-page="/Login/LoginViaButton">Log in</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
        <hr style="margin-top: -30px;"/>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Friberg Rentals -
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
<script>
    document.getElementById('loggedInUser').addEventListener('click', function () {
        // Toggle the visibility of the logout link
        var logoutLink = document.getElementById('logoutLink');
        logoutLink.style.display = (logoutLink.style.display === 'none') ? 'block' : 'none';
    });
</script>