@using Microsoft.AspNetCore.Http
@using Razor_Rentals.Helper
@inject IHttpContextAccessor HttpContextAccessor
@inject IRoleChecker RoleChecker

@{
    string userEmail = HttpContextAccessor.HttpContext.Session.GetString("LoggedInEmail");
    bool isAdmin = RoleChecker.IsAdmin(userEmail);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/423QmnY/logo.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Friberg Rentals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Razor_Rentals.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="top-right">
            <a href="#" id="loggedInUser" class="General-Button">@userEmail &#9759;</a>
            <a href="/Logout/Logout" id="logoutLink" style="display: none;" class="Primary-Button">Logout</a>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">*@*hej*@
                    <img src="https://i.ibb.co/423QmnY/logo.png" alt="Friberg Rentals" style="width: auto; height: 64px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (isAdmin == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admins/Index">Admins</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customers/Index">Customers</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Bookings/Index">Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Cars/Index">Cars</a>
                        </li>

                        @if (string.IsNullOrEmpty(userEmail))
                        {
                            <li class="nav-item top-right">
                                <a class="nav-link Primary-Button" asp-area="" asp-page="/Login/LoginViaButton">Log in</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Friberg Rentals -
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
<script>
    document.getElementById('loggedInUser').addEventListener('click', function () {
        // Toggle the visibility of the logout link
        var logoutLink = document.getElementById('logoutLink');
        logoutLink.style.display = (logoutLink.style.display === 'none') ? 'block' : 'none';
    });
</script>