@page
@model Razor_Rentals.Pages.Admins.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="Centered-Vertical">
    <h1>Create New Admin</h1>
    <hr />
    <div>
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="Validation-Red"></div>
                <div class="Fluffy-Form Centered-Vertical">
                    <label asp-for="Admin.Name" ></label>
                    <input asp-for="Admin.Name" />
                    <span asp-validation-for="Admin.Name" class="Validation-Red"></span>
                </div>
                <div class="Fluffy-Form Centered-Vertical">
                    <label asp-for="Admin.Email" ></label>
                    <input asp-for="Admin.Email" />
                    <span asp-validation-for="Admin.Email" class="Validation-Red"></span>
                </div>
                <div class="Fluffy-Form Centered-Vertical">
                    <label asp-for="Admin.Phone" ></label>
                    <input asp-for="Admin.Phone" />
                    <span asp-validation-for="Admin.Phone" class="Validation-Red"></span>
                </div>
                <div class="Fluffy-Form Centered-Vertical" type="password">
                    <label asp-for="Admin.Password" ></label>
                    <input asp-for="Admin.Password" />
                    <span asp-validation-for="Admin.Password" class="Validation-Red"></span>
                </div>
                <div class="">
                    <input type="submit" value="Create" class="Primary-Button" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index" class="General-Button" style="margin-top: 3px;">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
