@page
@model Razor_Rentals.Pages.Admins.DetailsModel

@{
    ViewData["Title"] = "Details";
}

    
<div class="Centered-Vertical">
    <h1 style="margin-left: 30px;">Details</h1>
    <div>
        <dl class="Fluffy-Form">
            <dt>
                <label asp-for="Admin.Name" style="margin-left: 30px; margin-top: 5px;"></label>
            </dt>
            <dd>
                <input asp-for="Admin.Name" class="" readonly />
            </dd>
            <dt>
                <label asp-for="Admin.Email" style="margin-left: 30px; margin-top: 5px;"></label>
            </dt>
            <dd>
                <input asp-for="Admin.Email" class="" readonly />
            </dd>
            <dt>
                <label asp-for="Admin.Phone" style="margin-left: 30px; margin-top: 5px;"></label>
            </dt>
            <dd>
                <input asp-for="Admin.Phone" class="" readonly />
            </dd>
            <dt>
                <label asp-for="Admin.Password" style="margin-left: 30px; margin-top: 5px;"></label>
            </dt>
            <dd>
                <input asp-for="Admin.Password" class="" readonly value="Model.Admin.Password" />
            </dd>
        </dl>
    </div>
</div>


    <div class="Centered-Horizontal">
    <a asp-page="./Edit" asp-route-id="@Model.Admin.AdminId" class="Primary-Button" style="margin-left: 50px; margin-right: 10px;">Edit</a>
    <a asp-page="./Index" class="General-Button" style="margin-right: 10px;">Back to List</a>
    </div>


