@page
@model Razor_Rentals.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="Centered-Vertical">
    <h1 style="margin-left: 30px;">Details</h1>
    <div>
        <dl class="Fluffy-Form">
            <dt>

                <label asp-for="Customer.Name" style="margin-left: 30px; margin-top: 5px;"></label>
            </dt>
            <dd>
                <input asp-for="Customer.Name" readonly />
            </dd>
            <dt>
                <label asp-for="Customer.Email" style="margin-left: 30px; margin-top: 5px;"></label>
            </dt>
            <dd>
                <input asp-for="Customer.Email" readonly />
            </dd>
            <dt>
                <label asp-for="Customer.Phone" style="margin-left: 30px; margin-top: 5px;"></label>
            </dt>
            <dd>
                <input asp-for="Customer.Phone" readonly />
            </dd>
            <dt>
                <label asp-for="Customer.Password" style="margin-left: 30px; margin-top: 5px;"></label>
            </dt>
            <dd>
                <input asp-for="Customer.Password" readonly value="Model.Customer.Password" />
            </dd>
        </dl>
    </div>
</div>
<div class="Centered-Horizontal">
    <a asp-page="./Edit" asp-route-id="@Model.Customer.CustomerId" class="Primary-Button" style="margin-left: 50px; margin-right: 10px;">Edit</a>
    <a asp-page="./Index" class="General-Button" style="margin-right: 10px;">Back to List</a>
</div>
