@page
@model Razor_Rentals.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="Centered-Vertical Fluffy-Form">
    <h1>Add Car</h1>
    <div>
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="Validation-Red"></div>
                <div>
                    <label asp-for="Car.Name"></label>
                    <input asp-for="Car.Name" />
                    <span asp-validation-for="Car.Name" class="Validation-Red"></span>
                </div>
                <div>
                    <label asp-for="Car.Description"></label>
                    <input asp-for="Car.Description" />
                    <span asp-validation-for="Car.Description" class="Validation-Red"></span>
                </div>
                <div>
                    <label style="margin-top: 5px;">
                        <span style="vertical-align: middle;">
                            <input asp-for="Car.Available" type="checkbox" style="vertical-align: middle; margin-top: -2px;" />
                        </span>
                        @Html.DisplayNameFor(model => model.Car.Available)
                    </label>
                </div>
                <div>
                    <label asp-for="Car.CostPerDay"></label>
                    <input asp-for="Car.CostPerDay" type="number" step="0.01" />
                    <span asp-validation-for="Car.CostPerDay" class="Validation-Red"></span>
                </div>
                <div>
                    <label asp-for="Car.ImageURL"></label>
                    <input asp-for="Car.ImageURL" />
                    <span asp-validation-for="Car.ImageURL" class="Validation-Red"></span>
                </div>
                <div>
                    <input type="submit" value="Create" class="Primary-Button" style="margin-top: 3px;" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index" class="General-Button" style="margin-top: 3px;">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
