html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*background-color: #EDF1F2; white standard*/
    /*background-color: #a2b0b4; grey standard*/
    background-color: #B6BAB6;
    margin-bottom: 60px;
    overflow-x: hidden;
}
header {
    /*background-color: #EDF1F2 standard;*/
    background-color: #A72D04;
}

.Primary-Button {
    display: inline-block;
    padding: 6px 12px;
    /*background-color: #007bff; standard blue*/
    background-color: #174678;
    color: #fff !important; /* White text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}
    .Primary-Button:hover {
        background-color: #0056b3;
        color: #fff;
    }

.Delete-Button {
    display: inline-block;
    padding: 6px 12px; /* First value = top and bottom, second value = left and right */
    /*background-color: #dc3545; youtube red*/
    background-color: #A72D04;
    color: #fff !important; /* White text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

    .Delete-Button:hover {
        background-color: #c82333; /* Darker red on hover */
        color: #fff !important
    }

.General-Button {
    display: inline-block;
    padding: 6px 12px;
    /*background-color: #6c757d;*/
    background-color: #474444;
    color: #fff !important; /* White text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

    .General-Button:hover {
        background-color: #5a6268; /* Darker grey on hover */
        color: #fff !important;
    }

.Centered-Horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row; /* Items stack horizontally by default */
}

.Centered-Vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; /* Items stack vertically */
}

.List-Item-1 {
    display: flex;
    list-style-type: none; /* Remove the bullet point */
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none; /* Remove text decoration for links */
}
/*.Dark-Bold-Text {
    color: #222;*/ /* Dark color for text */
    /*font-weight: 200;*/ /* Bold font weight */
    /*text-decoration: none;*/ /* Remove underline for links */
/*}*/

.Dark-Bold-Text {
    color: #000; /* Black color for text */
    font-weight: bold; /* Bold font weight */
    font-size: 20px; /* Larger font size */
    text-decoration: none; /* Remove underline for links */
}

    .Dark-Bold-Text:hover {
        color: #2f95f7 !important; /* Light blue color on hover */
        text-decoration: none; /* Remove underline on hover */
    }

    .Dark-Bold-Text:visited {
        color: #222; /* Dark color for visited links */
    }

.Top-Right {
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 999;
    margin: 10px;
    padding-right: 30px;
}

.Top-Left {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 999;
    margin-left: 55px;
    padding-left: 30px;
}

.Fluffy-Form {
    border: none;
    border-radius: 2px;
    padding: 2px;
    margin-top: -15px;
    margin-bottom: 20px;
}

    /* Style form inputs */
    .Fluffy-Form input[type="text"],
    .Fluffy-Form input[type="datetime-local"],
    .Fluffy-Form input[type="email"],
    .Fluffy-Form input[type="password"],
    .Fluffy-Form input[type="tel"],
    .Fluffy-Form input[type="number"],
    .Fluffy-Form input[type="decimal"],
    .Fluffy-Form textarea {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    /* Style form inputs */
    .Fluffy-Form label {
        display: block; /* Ensure each label appears on a new line */
        margin-bottom: 8px; /* Add some spacing between labels */
        font-size: 16px; /* Adjust font size */
        color: #333; /* Set label text color */
        font-weight: bold; /* Make labels bold */
    }


.Validation-Red {
    color: #A72D04;
    font-weight: bold;
    /*font-size: 0.9rem;*/
    font-size: 2rem;
}
.Validation-Green {
    color: forestgreen;
    
}

.TempData-Success {
    color: forestgreen;
    text-align: center;
    font-weight: bold; /*  Make the text bold */
    margin-top: 20px; /*  Add space above the message */
}


.Table-Style {
    border-collapse: collapse;
    width: 100%;
}

    .Table-Style th, .Table-Style td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .Table-Style th {
        background-color: #f2f2f2;
    }

    .Table-Style thead th {
        /*background-color: #f2f2f2;*/
        background-color: #dadada;
        font-weight: bold;
    }

    .Table-Style tbody tr:nth-child(even) {
        /*background-color: #f9f9f9;*/
        background-color: #dadada;
    }

    .Table-Style tbody tr:hover {
        background-color: #f5f5f5;
    }




/* Orangeish: FCA72E
   Whiteish: EDF1F2
   Green/black: 0D1E21
*/