@page
@model Razor_Rentals.Pages.Login.LoginViaButtonModel
@{
    ViewData["Title"] = "Log in";
}
<div style="text-align: center;">

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger Validation-Red" role="alert">
            @TempData["ErrorMessage"]
        </div>

    }

</div>

<div class="Centered-Vertical Fluffy-Form">
    
    <h1>Log in</h1>
    <form method="post">
        <div>
            <label for="inputEmail">Email address</label>
            <input type="email" id="inputEmail" name="Email" placeholder="Enter your E-mail" required>
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="Password" placeholder="Password" required>
        </div>

        <div class="Centered-Vertical" style="margin-top: 10px;">
            <button type="submit" class="Primary-Button" style="margin-bottom: 5px;">Login</button>
            <a href="/Register/Register" class="General-Button" style="margin-bottom: 6px;">Don't have an account?</a>
            <a href="/Login/LoginViaButtonAdmin" class="General-Button">Admin</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}