@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<div style="text-align: center;">

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger Validation-Red" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

</div>

<div class="Centered-Vertical Fluffy-Form">
    <h1>Log in</h1>
    <form method="post">
        <div>
            <label for="inputEmail">Email address</label>
            <input type="email" id="inputEmail" name="Email" placeholder="Enter your E-mail" required>
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="Password" placeholder="Password" required>
        </div>
        <input type="hidden" name="CarId" value="@Model.CarId" />
        <div style="margin-top: 10px;">
            <button type="submit" class="Primary-Button" style="padding: 7px;">Login</button>
            <a href="/Register/Register" class="General-Button">Don't have an account?</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}