@page
@model Razor_Rentals.Pages.Login.LoginViaButtonAdminModel
@{
    ViewData["Title"] = "Admin";
}
<div style="text-align: center;">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger Validation-Red" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
</div>

<div class="Centered-Vertical Fluffy-Form">
    <h1>Log in for admins</h1>
    <form method="post">
        <div>
            <label for="inputEmail">Email address</label>
            <input type="email" id="inputEmail" name="Email" placeholder="Enter your E-mail" required>
        </div>
        <div style="margin-top: 5px;">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="Password" placeholder="Password" required>
        </div>

        <div style="margin-top: 10px;">
            <button type="submit" class="Primary-Button">Login</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}